ES_HOST=https://your-es-host.com/es
ES_USER=elastic
ES_PWD=your_es_password
ES_INDEX=works_open_05_07

GROBID_URL=http://localhost:8070

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=works_fulltext_embeddings
QDRANT_DATA_DIR=./data/qdrant
